PORT=5000
NODE_ENV=development

# --- Database Configurations ---
# Local Database Option (Development)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=careerconnect
DB_PASSWORD=database_password
DB_PORT=5432

# Cloud Database Option (Vercel/Neon Deployment)
# DATABASE_URL=postgres://username:password@ep-cool-cloud-123456.us-east-2.aws.neon.tech/careerconnect?sslmode=require

# --- Redis Cache Configurations ---
REDIS_UNAME=Add_redis_username
REDIS_PASS=Add_redis_password
REDIS_PORT=Add_redis_db_port_number
REDIS_HOST=Add_redis_host_url

# --- Email Notifications ---
# Gmail SMTP Outbound Configurations (Fill details below to activate real emails)
EMAIL_USER=your-email@gmail.com
EMAIL_APP_PASSWORD=app_password_of_your_gmail